extends layout.pug

block content
  
  .container-profile
    .row
      .col-md-2
      .col-md-2.image-pane
        a.thumbnail(href='#')
          img(src='http://www.positivehomeopathy.com/wp-content/uploads/2016/09/Dummy-Profile-Picture-1.jpg', alt='profile-pic')
      .col-md-6.blog-content
        .page-header
          h2 #{user.name}
          h5 Email #{user.email}
          h5 Date Joined #{date}
        .reviews-header
          h1 Reviews
        .blog-post
          each review in reviews
            - var id = review.id
            div(class='single-post' id=id)
              h4.blog-post-title
                a(href='/albums/' + review.album_id) #{review.album_title}
                .date-trash
                  span#date #{review.review_date}
                  span
                    i.fa.fa-trash(aria-hidden='true')#delete
              p.content #{review.review}
              br
      .col-md-2
          
          
